body {
  margin: 0;
  overflow-x: hidden;
}

/*header*/
header {
  position: absolute;
  top: 0;
}

.mobile-header {
  display: flex;
  justify-content: flex-start;
}
  
.hamburger {
  margin: 10px;
}

/*fonts*/

.lato {
  font-family: 'Lato', sans-serif;
}

.cocogoose {
  font-family: 'COCOGOOSE', sans-serif;
}

/*max-width for mobile version*/

@media only screen and (max-width: 768px) {
  .desktop-header,
  .white-logo {
    display: none;
  }
}

/*headline section*/

.headline {
  padding: 50px 10px 30px 10px;;
  text-align: center;
  background-image: url("./images/about-background.png");
}

.greeting {
  color: #ec5242;
  font-size: 30px;
}

.title {
  margin: 0;
  color: #ec5242;
  font-size: 45px;
}

.description {
  border: 2px solid #d3d3d3;
  padding: 10px;
  background: white;
  color: #272a31;
  margin: 20px 0;
  max-width: 700px;
  margin: auto;
}

.contact {
  color: #272a31;
  font-size: 13px;
  text-align: center;
  padding-top: 20px;
}

.email {
  border-bottom: 2px solid #272a31;
  width: fit-content;
  margin: auto;
  font-size: 14px;
  text-decoration: none;
  color: #272a31;
}

/*media query for background image*/

@media only screen and (min-width: 1280px) {
  .headline {
    background-size: 100vw;
  }
}
/*logo section*/

.logo-section {
  padding: 10px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.logo-heading {
  text-align: center;
  margin: 10px;
}

.line {
  width: 50px;
  border-top: 1px solid #ec5242;
  margin: 10px auto;
}

.logo-container {
  border: 1px solid #d3d3d3;
  text-align: center;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
}

.logo {
  width: 100px;
}

/*past concerts*/

.past-concerts {
  padding: 10px;
}

.two-years {
  background-image: linear-gradient(rgba(236, 82, 66, 0.8), rgba(236, 82, 66, 0.8)), url('./images/2020.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  max-width: 240px;
  height: 150px;
  padding: 10px;
  text-align: center;
  border: none;
}

.one-year {
  background-image: linear-gradient(rgba(236, 82, 66, 0.8), rgba(236, 82, 66, 0.8)), url('./images/2021.png');
  background-repeat: no-repeat;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 240px;
  padding: 10px;
  text-align: center;
  border: none;
}

.years {
  text-decoration: none;
  color: white;
}

.year {
  margin: 0;
  font-size: 25px;
}

.small-description {
  margin: 0;
  font-size: 15px;
}

/*partners section*/

.partners {
  background-color: #272a31;
  text-align: center;
  padding: 10px;
}

.partners-heading {
  color: white;
  margin: 10px;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

svg {
  margin: 10px;
}

/*footer*/

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.low-logo {
  width: 50px;
  height: 50px;
}

.copyright {
  font-size: 15px;
  color: #272a31;
}

@media only screen and (min-width: 769px) {
  /*menu*/

  .mobile-header {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
  }

  .desktop-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background: white;
    padding: 10px;
  }

  .company-logo {
    width: 50px;
    height: 50px;
  }

  .flex-container {
    display: flex;
  }

  .desktop-menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding: 0 20px;
  }

  .menu-item {
    list-style: none;
  }

  .menu-link {
    text-decoration: none;
    color: #272a31;
  }

  .menu-cc {
    border: 2px solid #ec5242;
    background: white;
    font-size: 20px;
    margin-right: 30px;
  }

  /*headline*/

  .headline {
    padding-top: 150px;
    padding-bottom: 75px;
  }

  .greeting {
    font-size: 50px;
  }

  .title {
    font-size: 70px;
  }

  /*logo section*/

  .logo-heading {
    font-size: 40px;
  }

  .contact {
    font-size: 15px;
  }

  /*past concerts section*/
  .container {
    display: flex;
    justify-content: center;
  }

  .years {
    margin: 0 50px;
  }

  /*partners*/

  .partners {
    display: none;
  }

  /*footer*/

  footer {
    background: #272a31;
    padding: 30px;
  }

  .low-logo {
    display: none;
  }

  .white-logo {
    width: 75px;
  }

  .copyright {
    color: white;
    max-width: 500px;
  }
}