body {
  margin: 0;
  overflow-x: hidden;
}

.default {
  display: none;
}

/*media query for mobile version*/

@media only screen and (max-width: 768px) {
  .desktop-header,
  .row {
    display: none;
  }
}

/*fonts*/

.cocogoose {
  font-family: 'COCOGOOSE', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

/*header*/

header {
  position: absolute;
  top: 0;
}

.mobile-header {
  display: flex;
  justify-content: flex-start;
}

.hamburger {
  margin: 10px;
}

/*headline section*/

.headline {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("./images/background-image.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  padding: 10%;
  padding-top: 50px;
}

.greeting {
  font-size: 30px;
  font-weight: bolder;
  color: rgba(236, 82, 66, 0.9);
}

.title {
  font-size: 45px;  
  color: rgba(236, 82, 66, 0.9);
}

.description {
  border: 2px solid white;
  padding: 10px;
  background:rgba(255, 255, 255, 0.5);
  color: #272a31;
}

.date {
  font-size: 30px;
  padding-top: 10px;
  color: rgba(39, 42, 33, 0.9)
}

.location {
  color: #272a31;
}

/*media query for headline backround image size*/

@media only screen and (min-width: 1000px) {
  .headline {
    background-size: 100vw;
  }
}

/*Information section*/

.information {
  background-color: #272a31;
  background-image: url("./images/pattern.png");
  padding: 5%;
}

.line {
  width: 50px;
  border-top: 1px solid #ec5242;
  margin: 10px auto;
}

.information-heading {
  text-align: center;
  color: white;
  font-size: 30px;
}

.information-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  background:rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  justify-content: space-between;
  min-height: 75px;
}

.icon {
  flex-basis: auto;
}

.heading {
  color: #ec5242;
  padding: 0 10px;
  flex-basis: 90px;
  flex-shrink: 0;
  font-weight: 900;
}

.small-description {
  color: white;
  font-size: 12px;
  flex-basis: 60%;
}

/*featured section*/

.featured-heading {
  font-size: 30px;
  color: #272a31;
  text-align: center;
  margin: 10px 0;
}

.speakers {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.visible {
  display: flex;
}

.row {
  flex-direction: column;
}

.speaker {
  display: flex;
  margin: 10px;
}

.speaker-img {
  width: 100px;
  height: 100px;
}

.speaker-info {
  margin-left: 10px;
}

.name {
  color: #272a31;
  font-weight: 900;
}

.italics {
  color: #ec5242;
  font-size: 12px;
}

.line2 {
  width: 50px;
  border-top: 1px solid #d3d3d3;
  margin: 10px 0;
}

.background {
  font-size: 13px;
  color: #272a31;
}

.more {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.invisible {
  display: none;
}